@charset "UTF-8";

body {
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #555;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
}

header h2 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 3rem;
  font-weight: normal;
}

.bg_black {
  background-color: black;
  height: 100vh;
  position: relative;
}

.bg_black img {
  opacity: 0.6;
  object-fit: cover;
}

.header_wrapper {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
}

.header_wrapper nav ul {
  display: flex;
  justify-content: center;
}

.header_title {
  display: table;
}

.header_title h1 {
  font-size: 1.3rem;
  padding: 0 1rem;
  height: 4rem;
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.header_title span {
  font-size: 2rem;
}

nav ul li a {
  display: block;
  line-height: 4rem;
}

nav ul li a:hover {
  color: #ffffff;
  opacity: 0.6;
}

.btn1 {
  width: 40%;
  margin: 0 auto;
}

.btn1 a {
  color: black;
  background-color: rgb(191, 220, 247);
  padding: 10% 6%;
  border-radius: 50px;
  display: block;
}

.btn1 a:hover {
  opacity: 0.6;
}

.btn2 {
  width: 15%;
  margin: 0 auto;
}


.btn2 a {
  color: black;
  background-color: rgb(191, 220, 247);
  padding: 10% 6%;
  border-radius: 50px;
  display: block;
  text-align: center;
}

.btn2 a:hover {
  opacity: 0.6;
}

footer {
  height: 45vh;
  background-color: rgb(46, 46, 46);
  color: white;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
}

.footer_logo {
  font-size: 1.3rem;
  margin-left: 10%;
  padding-top: 6%;
  vertical-align: middle;
}

.footer_logo h1 span {
  font-size: 2rem;
}

.footer_nav {
  width: 30%;
}

.list_left,.list_right {
  padding: 15% 10% 8% 10%;
}

table {
  background-color: white;
  margin-top: 5%;
  padding: 5%;
  height: 40%;
  width: 60%;
  border: solid black 1px;
}

table tr {
  border: solid black 1px;
}

table th,td {
  vertical-align: middle;
}

.footer_ul {
  display: flex;
}

.copyright {
  font-size: 1rem;
  text-align: center;
}












