@charset "UTF-8";

body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #555;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

header {
  height: 100vh;
  width: 100%;
}

.bg_black {
  background-color: black;
  height: 100vh;
  position: relative;
}

.header_wrapper {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
}

.header_wrapper nav ul {
  display: flex;
  justify-content: center;
}

.header_title {
  display: table;
}

.header_title h1 {
  font-size: 1.3rem;
  padding: 0 1rem;
  height: 4rem;
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.header_title span {
  font-size: 2rem;
}

nav ul li a {
  display: block;
  line-height: 4rem;
}

nav ul li a:hover {
  color: #ffffff;
  opacity: 0.6;
}



























