@charset "UTF-8";

header {
  height: 100vh;
}

.top_txt {
  padding-top: 7%;
  width: 33%;
  height: 10vh;
  margin: 0 auto;
}

.main_h2 {
  width: 70%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 2%;
  border-bottom: solid black 1px;
}

.message_wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.message_img {
  height: 100%;
  width: 60%;
}

.message_img img {
  position: absolute;
  top: 15%;
  z-index: 1;
  object-fit: cover;
}

.message_name {
  position: absolute;
  top: 90%;
  right: 5%;
  text-align: right;
}

.message_bg {
  background-color: rgb(192, 192, 192);
  height: 40%;
  width: 54%;
  position: absolute;
  top: 47%;
  right: 7%;
}

.message_txt {
  height: 64%;
  background-color: white;
  padding-top: 1%;
  margin-top: 4%;
  width: 30%;
  margin-left: 5%;
  text-align: center;
}

.message_txt1 {
  padding: 8% 0;
  text-align: left;
}

.philosophy_wrapper {
  height: 100vh;
  position: relative;
}

.philosophy_wrapper img {
  position: absolute;
  top: 10%;
  left: 20%;
  object-fit: cover;
  z-index: 1;
}

.philosophy_wrapper h2 {
  position: absolute;
  font-size: 2rem;
  font-weight: normal;
  top: 35%;
  left: 35%;
  z-index: 2;
}

.philosophy_txt {
  position: absolute;
  top: 80%;
  left: 35%;
}

.philosophy_bg {
  background-color: rgb(192, 192, 192);
  height: 40%;
  width: 40%;
  position: absolute;
  top: 32%;
  right: 41%;
}

.overview_wrapper {
  height: 150vh;
  background-color: rgb(192, 192, 192);
}

.overview_wrapper h2 {
  font-weight: normal;
  text-align: center;
  font-size: 2rem;
  padding-top: 5%;
}

.overview_inner1 {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
  position: relative;
}

.company_date1 {
  width: 50%;
  padding-left: 5%;
}

.overview_inner1 img {
  width: 40%;
  z-index: 1;
}
.overview_bg {
  background-color: rgb(255, 255, 255);
  height: 40%;
  width: 30%;
  position: absolute;
  top: 48%;
  right: 11%;
}

.overview_inner2 {
  display: flex;
  justify-content: space-between;
}

.company_date2 {
  width: 50%;
}

.company_date2 th {
  width: 20%;
}

.overview_inner2 img {
  width: 40%;
  margin-left: 5%;
}

table {
  background-color: rgb(192, 192, 192);
  margin-top: 5%;
  padding: 5%;
  height: 40%;
  width: 90%;
  border: none;
}

table tr {
  border: none;
  border-bottom: solid black 1px;
}

th,td {
  padding: 2%;
}

.access_wrapper {
  height: 100vh;
  background-color: rgb(236, 248, 255);
  text-align: center;
}

.access_wrapper h2 {
  font-size: 2rem;
  font-weight: normal;
  padding: 5%;
}









































