@charset "UTF-8";



form {
  height: 50vh;
  width: 60%;
  margin: 0 auto;
  padding-top: 5%;
}

label {
  display: inline;
  width: 12%;
}

input,textarea {
  box-sizing: border-box;
  border: solid rgb(5, 5, 5) 1px;
  width: 60%;
  margin-bottom: 2.5%;
  padding: 1%;
}

textarea {
  height: 13rem;
  line-height: 1.3rem;
}

form div {
  display: flex;
  justify-content: space-around;
}

.btn1 {
  width: 10%;
  padding-bottom: 5%;
  margin-top: 3%;
}

.btn1 a {
  color: black;
  background-color: rgb(125, 187, 245);
  padding: 10% 6%;
  border-radius: 50px;
  display: block;
  text-align: center;
}

.btn1 a:hover {
  opacity: 0.5;
}

































