@charset "UTF-8";

.main_h2 {
  width: 70%;
  margin: 0 auto;
  font-size: 4rem;
  border-bottom: solid black 1px;
}

.about_wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.about_img {
  height: 100%;
  width: 60%;
}

.about_img img {
  position: absolute;
  top: 15%;
  z-index: 1;
}

.about_bg {
  background-color: rgb(192, 192, 192);
  height: 40%;
  width: 54%;
  position: absolute;
  top: 47%;
  left: 7%;
}

.about_txt {
  margin-top: 4%;
  width: 30%;
  margin-right: 5%;
  text-align: center;
}

.txt1 {
  padding-top: 5%;
  text-align: center;
}

.txt2 {
  width: 80%;
  padding: 5% 0;
  margin: 0 auto 10% auto;
  text-align: left;
}

.service_wrapper {
  background-color: rgb(236, 248, 255);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.service_img {
  height: 100%;
  width: 60%;
}

.service_img img {
  position: absolute;
  top: 15%;
  z-index: 1;
}

.service_txt {
  height: 64%;
  background-color: white;
  padding-top: 1%;
  margin-top: 4%;
  width: 30%;
  margin-left: 5%;
  text-align: center;
}

.service_bg {
  background-color: rgb(192, 192, 192);
  height: 40%;
  width: 54%;
  position: absolute;
  top: 47%;
  right: 7%;
}

.service_txt1 {
  width: 80%;
  padding: 5% 0;
  margin: 0 auto 4% auto;
  text-align: left;
}

.works_wrapper {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.main_h2_2 {
  width: 20%;
  padding-top: 5%;
  margin: 0 auto 3% auto;
  font-size: 4rem;
  border-bottom: solid black 1px;
  text-align: center;
}

.works_img_list {
  background-color: rgb(44, 62, 78);
  height: 40%;
  display: flex;
  justify-content: center;
  color: white;
}

.works_img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works_img img {
  height: 50%;
  width: 80%;
  margin: 20% 5% 10% 5%;
}

.works_txt {
  width: 68%;
  padding: 3% 0 3% 0;
  margin: 0 auto;
  text-align: left;
}

.recruit_wrapper {
  height: 100vh;
  width: 100%;
  background-color: rgb(236, 248, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.recruit_img {
  height: 100%;
  width: 60%;
}

.recruit_img img {
  position: absolute;
  top: 15%;
  z-index: 1;
  object-fit: cover;
}

.recruit_bg {
  background-color: rgb(192, 192, 192);
  height: 40%;
  width: 54%;
  position: absolute;
  top: 12%;
  left: 8%;
}

.recruit_txt {
  height: 60%;
  background-color: white;
  padding-top: 1%;
  margin-top: 4%;
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.recruit_txt1 {
  padding-top: 8%;
  text-align: center;
}

.recruit_txt2 {
  width: 80%;
  padding: 5% 0;
  margin: 0 auto 6% auto;
  text-align: left;
}

.news_wrapper {
  height: 100vh;
  background-color: rgb(192, 192, 192);
  display: flex;
  flex-direction: column;
  align-items: center;
}

















































