@charset "UTF-8";

.works_wrapper {
  height: 100vh;
  width: 100%;
  padding-top: 5%;
}

.works_inner {
  padding: 3%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works2_inner {
  height: 100%;
  width: 100%;
  text-align: center;
}

.works2_inner img {
  height: 100%;
  width: 90%;
  object-fit: cover;
}

.works2_inner p {
  text-align: center;
}









































